@media (max-width: 1300px) {
    /* !!!!!!!!!!!
    header 
    !!!!!!!!!!!!*/
    .header__nav{
        flex-direction: row-reverse;
    }

    /* !!!!!!!!!!!
    hero 
    !!!!!!!!!!!!*/

    

    /* !!!!!!!!!!!
    about 
    !!!!!!!!!!!!*/

    

    /* !!!!!!!!!!!
    gallery 
    !!!!!!!!!!!!*/
    .gallery__control{
        margin-right: 0;
        margin-bottom: 20px;
    }
    

    /* !!!!!!!!!!!
    catalog and person 
    !!!!!!!!!!!!*/

    

    /* !!!!!!!!!!!
    events and news 
    !!!!!!!!!!!!*/


    


    /* !!!!!!!!!!!
    projects 
    !!!!!!!!!!!!*/

    

    /* !!!!!!!!!!!
    callback 
    !!!!!!!!!!!!*/

    

    /* !!!!!!!!!!!
    footer 
    !!!!!!!!!!!!*/

    
}


@media (max-width: 1300px) {
    /* !!!!!!!!!!!
    header 
    !!!!!!!!!!!!*/
    

    /* !!!!!!!!!!!
    hero 
    !!!!!!!!!!!!*/

    

    /* !!!!!!!!!!!
    about 
    !!!!!!!!!!!!*/

    

    /* !!!!!!!!!!!
    gallery 
    !!!!!!!!!!!!*/

    

    /* !!!!!!!!!!!
    catalog and person 
    !!!!!!!!!!!!*/

    

    /* !!!!!!!!!!!
    events and news 
    !!!!!!!!!!!!*/


    


    /* !!!!!!!!!!!
    projects 
    !!!!!!!!!!!!*/

    

    /* !!!!!!!!!!!
    callback 
    !!!!!!!!!!!!*/

    

    /* !!!!!!!!!!!
    footer 
    !!!!!!!!!!!!*/

    
}